* {
 padding: 0;
 margin: 0;
}

/* Блок общее */

body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: Cuprum, Helvetica, Arial;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: PT Sans, Helvetica, Arial;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.header-top,
.header-bottom,
.features,
.popular-items-title,
.popular-producers-title,
.footer-top,
.footer-bottom,
.footer-middle {
	width: 100%;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
  background-color: lightyellow; /* для наглядности */
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

/* Шапка сайта*/

.header-top {
	margin-bottom: 46px;
}

.logo {
	float: left;
	margin-right: 10px;
	width: 220px;
  height: 70px;
}

.search {
	float: left;
}

.menu {
	float: right;
}

.menu li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
}

.header-description {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.header-contacts {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.user-block {
  position: relative;
	float: right;
	width: 300px;
}

.user-profile {
  float: right;
}

.main-navigation {
	float: left;
	margin-top: 35px;
	margin-bottom: 60px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
}

/* Личный кабинет */

.user-set {
    position: absolute;
    top: 30px;
    left: 40px;
}

.user-set li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

/* Шапка страницы каталог*/

.breadcrumbs li {
 display: inline-block;
 vertical-align: top;
 list-style: none;
}

.breadcrumbs {
  height: 60px;
}

.header-catalog h1 {
  padding: 25px;
  margin-bottom: 20px;
}

/* Блок особенности */

.features {
	margin-bottom: 54px;
  padding-top: 60px;
}

.item-features {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 300px;
	height: 124px;
	background-color: lightgreen; /* для наглядности*/
}

.item-features:nth-child(3),
.item-features:nth-child(5),
.item-features:nth-child(6) {
	margin-right: 0;
}

.item-features:nth-child(6) {
	margin-bottom: 0;
}

.feature-slider .active {
	float: left;
	margin-right: 20px;
	width: 620px;
	height: 266px;
}

.feature-slider li {
	list-style: none;
}

.feature-slids {
	position: relative;
}

.slide-img {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.slide-1-title {
	position: relative;
	z-index: 2;
}

.feature-slids li:not(.active) {
	display: none;
}

.control-left {
  position: absolute;
  left: 0;
  z-index: 3;
}

.control-right {
  position: absolute;
  right: 0;
  z-index: 3;
}

/* Блок популярные товары и производители */

.popular-items-title a,
.popular-producers-title a{
	float: right;
}

.popular-items-title,
.popular-producers-title {
	margin-bottom: 20px;
}

.popular-item {
	float: left;
	margin-right: 20px;
  margin-bottom: 21px;
	width: 220px;
	height: 318px;
}

.popular-item:last-child {
	margin-right: 0px;
}

.popular-producers {
	margin-bottom: 65px;
}

.popular-producers-list li {
	float: left;
	margin-right: 20px;
  margin-bottom: 20px;
	width: 220px;
	height: 145px;
	list-style: none;
  background-color: #FFFFFF;
}

.popular-producers-list li:nth-child(4),
.popular-producers-list li:nth-child(8) {
	margin-right: 0;
}

/* Блок сервисы */

.services {
	margin-bottom: 70px;
}

.services-slids li {
	list-style: none;
}

.services-text,
.services-img {
	display: none;
}

.service-title {
	width: 360px;  /** по макету 400px **/
	margin-bottom: 65px;
}

.services-slide {
	float: left;
	margin-right: 60px;
	width: 240px;
}

.services-text {
	float: left;
}

.services-img {
	float: left;
}

/* Блок о компании*/

.index-info {
  padding-bottom: 75px;
}

.index-info h2 {
  padding-bottom: 20px;
  padding-top: 70px;
}

.index-info-company {
	float: left;
	width: 540px;
	margin-right: 20px;
}

.info-map {
	float: left;
	width: 300px;
}

/* Боковой филтер блока каталог */

.catalog-filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalog-filter li {
  list-style: none;
}

/* Блока каталог */

.catalog-items {
  width: 700px;
}

.catalog-items-filter li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

/* Подвал сайта */

.footer-top li {
	display: inline-block;
	vertical-align: top;
  list-style: none;
}

.footer-top {
  margin-bottom: 25px;
}

.footer-address {
  float: left;
}

.footer-middle li {
  display: inline-block;
	vertical-align: top;
  list-style: none;
}

.footer-menu {
  float: right;
}

.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-copyright {
  float: left;
  width: 230px;
  margin-right: 150px;
}

.footer-socials {
  float: left;
}

.footer-feedback {
  float: right;
  width: 140px;

}

.footer-developers {
  float: right;
  width: 140px;
  margin-left: 20px;
}
