* {
 padding: 0;
 margin: 0;
}

/* Блок общее */

body {
  font-size: 13px;
  line-height: 24px;
  font-family: PT Sans, Helvetica, Arial;
  color: #000000;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: PT Sans, Helvetica, Arial;
  padding-bottom: 15px;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 20px;
  color: #000;
}

.header-top,
.header-bottom,
.popular-items-title,
.popular-producers-title,
.footer-top,
.footer-bottom,
.footer-middle,
.catalog-items-filter {
	width: 100%;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Шапка сайта*/

.header-top {
  background-color: #293449;
}

.logo {
	float: left;
	margin-right: 10px;
	width: 220px;
  height: 42px;
}

.search {
	float: left;
}

.menu {
	float: right;
}

.menu li {
	display: inline-block;
	vertical-align: top;
}

.header-bottom {
  background-color: #f1f5f7;
  padding-top: 46px;
}
.header-description {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.header-contacts {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.user-block {
  position: relative;
	float: right;
	width: 300px;
}

.user-profile {
  float: right;
}

.main-navigation {
	float: left;
	margin-top: 35px;
	margin-bottom: 60px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
}

/* Личный кабинет */

.user-set {
  position: absolute;
  top: 30px;
  left: 40px;
}

.user-set li {
  display: inline-block;
  vertical-align: top;
}

/* Шапка страницы каталог*/

.breadcrumbs li {
 display: inline-block;
 vertical-align: top;
}

.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-catalog h1 {
  padding: 25px;
  margin-bottom: 20px;
}

/* Блок особенности */

.features {
	padding-bottom: 54px;
  padding-top: 60px;
}

.item-features {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 300px;
	min-height: 124px;
	background-color: lightgreen; /* для наглядности*/
}

.item-features:nth-child(3),
.item-features:nth-child(5),
.item-features:nth-child(6) {
	margin-right: 0;
}

.item-features:nth-child(6) {
	margin-bottom: 0;
}

/* Слайдер */

.feature-slider li:not(.active) {
	display: none;
}

.feature-slider li.active {
  position: relative;
	float: left;
	margin-right: 20px;
	width: 620px;
	height: 266px;
  color: #fff;
}

.slide-img {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.slide-title {
	position: relative;
	z-index: 2;
}

                      /*НЕ ПОНИМАЮ, ул куда-то выпал, почему?*/
.btn-controllers {
  position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

/* Блок популярные товары и производители */

.popular-items-title a,
.popular-producers-title a{
	float: right;
}

.popular-items-title,
.popular-producers-title {
  background-color: #f7f3ec;
}

.popular-items-title h2,
.popular-producers-title h2 {
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.popular-item {
	float: left;
	margin-right: 20px;
  margin-bottom: 21px;
	width: 220px;
}

.popular-item:last-child {
	margin-right: 0px;
}

.popular-producers {
	padding-bottom: 65px;
}

.popular-producers-list li {
	float: left;
	margin-right: 20px;
  margin-bottom: 20px;
	width: 220px;
	height: 145px;
  background-color: #FFFFFF;
}

.popular-producers-list li:nth-child(4),
.popular-producers-list li:nth-child(8) {
	margin-right: 0;
}

/* Блок сервисы - слайдер */

.services {
	padding-bottom: 70px;
  background-color: #f2f6f8;
}

.service-title {
	width: 400px;
	margin-bottom: 65px;
}

.services-slids li {
  padding: 15px;
}

.services-slide {
	float: left;
	margin-right: 60px;
	width: 240px;
}

.services-text p {
  width: 320px;
  padding-bottom: 102px;
}

.services-slids li:not(.active) .services-text{
  display: none;
}

.services li.active .services-text {
  float: right;
  width: 640px;
}

.services-delivery {
  background: url(../img/delivery-services.png) no-repeat 100% 0;
}

.services-guarantee {
  background: url(../img/guarantee-services.png) no-repeat 100% 0;
}

.services-credit {
  background: url(../img/credit-services.png) no-repeat 100% 0;
}


/* Блок о компании*/

.index-info {
  padding-bottom: 75px;
}

.index-info h2 {
  padding-bottom: 20px;
  padding-top: 70px;
}

.index-info-company {
	float: left;
	width: 540px;
	margin-right: 20px;
}

.info-map {
	float: left;
	width: 300px;
}

/* Боковой филтер блока каталог */

fieldset {
  border: 0;
}

.catalog-filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-scroll-grey {
  position: relative;
  width: 170px;
  height: 2px;
  background-color: #d7dcde;
  margin: 30px 15px;
}

.filter-scroll-green {
  width: 120px;
  height: 2px;
  background-color: #00ca74;
}

.filter-scroll-grey:after,
.filter-scroll-grey:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.filter-scroll-grey:before {
  right: 30px;
}

.filter-input {
  display: inline-block;
  width: 96px;
}

/* Блок каталог */

.catalog-items {
  float: left;
  width: 700px;
}

.catalog-items-filter li {
  display: inline-block;
  vertical-align: top;
}

.catalog-items-filter ul {
  float: right;
}

.filter-title {
  float: left;
}

/* Каталог товаров */

.catalog-items-set {
  margin-bottom: 52px;
}

.catalog-items-set article {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalog-items-set article:nth-child(3n+3) {
  margin-right: 0;
}

/* Пагинация каталога товаров*/

.pagination {
  margin-bottom: 60px;
}

.pagination li {
  display: inline-block;
}

/* Дополнительный блок под каталогом*/

.sub-catalog h2 {
  padding-top: 60px;
}

.sub-catalog p {
  padding-bottom: 63px;
}

/* Подвал сайта */

.footer-top li {
	display: inline-block;
	vertical-align: top;
}

.footer-top {
  margin-bottom: 25px;
}

.footer-address {
  float: left;
}

.footer-middle li {
  display: inline-block;
	vertical-align: top;
}

.footer-menu {
  float: right;
}

.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-copyright {
  float: left;
  width: 230px;
  margin-right: 150px;
}

.footer-social {
  float: left;
}

.footer-feedback {
  float: right;
  width: 140px;
}

.footer-developers {
  float: right;
  width: 140px;
  margin-left: 20px;
}
