* {
 padding: 0;
 margin: 0;
}

/* Шрифтовые иконки*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


/* Блок общее */

body {
  min-width: 960px;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;

  color: #000000;
}

h1,
h2 {
  font-size: 30px;
  line-height: 30px;

  color: #32425c;
	text-transform: uppercase;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Шапка сайта*/

.header-top {
  background-color: #293449;
  color: #fff;
}

.header-top a {
  color: #fff;
  text-decoration: none;
}

.logo {
	float: left;
	width: 220px;
  padding: 11px 0;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo:focus {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

/* Лупа */

.search {
	float: left;
}

.search input[type="text"] {
  width: 230px;
  padding: 14px 0;
  padding-left: 40px;

  background-color: #293449;
  border: 0;

  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
}

.search input[type="text"]:hover{
  background-color: #212a3a;
}

.search input[type="text"]:focus{
  outline: none;
  background-color: #fff;
  color: #000;
}

/* Кнопки в шапке макета*/

.menu {
  float: right;

	list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
	float: right;
  text-align: center;
}

.menu a {
	display: block;
	width: 150px;
	padding: 14px 0;
}

.icon-basket,
.icon-bookmark {
	margin-right: 15px;
	opacity: 0.3;
}

.menu li:hover {
  background-color: #212a3a;
}

.menu li:hover span {
	opacity: 1;
}

.menu a:focus {
  background-color: #161d29;
	opacity: 0.6;
}

.menu a:focus span {
	opacity: 0.5;
}

.menu .btn-order {
  background-color: #63a63e;
}

.menu .btn-order:hover {
  background-color: #5fbb2d;
}

.menu .btn-order:focus {
  background-color: #518534;
  color: #8baa7c;
}

/* Вторая часть шапки сайта */

.header-bottom {
  background-color: #f1f5f7;
  padding-top: 45px;
	padding-bottom: 51px;
}

.header-description {
	float: left;
	width: 200px;
	margin-right: 20px;
  padding: 0 50px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
	float: left;
	width: 271px;
	margin-right: 20px;
}

.header-phone {
  padding: 13px 0;

  color: #e9292a;
  font-size: 21px;
  line-height: 18px;

  background-color: #f1f5f7;
  box-shadow: inset 0 0 0 3px #fff;
}

.header-contacts p {
  padding-left: 6px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.icon-phone {
	margin-right: 35px;
	margin-left: 13px;
	color: #b7bfc8;
}

.user-block {
	float: right;
}

.user-block a {
  display: inline-block;
  padding: 12px 27px;
  background-color: #fff;

  font-size: 21px;
  line-height: 18px;
  color: #000;

  text-decoration: none;
}

.icon-login {
	color: #c5c5c5;
}

.btn-user:hover .icon-login {
	color: #32425c;
}

.btn-user:focus .icon-login {
	color: #c5c5c5;
}

.btn-user:hover {
  color: #ee3643;
}

.btn-user:focus {
	color: #c9c9c9;
}

.user-profile {
  float: right;
}

/* Личный кабинет */

.user-set {
  position: absolute;
  top: 30px;
  left: 40px;
}

.user-set ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

.user-set li {
  display: inline-block;
  vertical-align: top;
}

/* Блок навигации по сайту */

.main-navigation {
	display: table;
  width: 100%;
	margin-top: 40px;

  font-size: 0;
}

.main-navigation li {
	display: table-cell;
	text-align: center;
  padding: 25px 30px;

  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.main-navigation li:first-child {
  padding-left: 50px;
}

.main-navigation li:last-child {
  padding-right: 55px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
}

.main-navigation li:hover {
	background-color: #293449;
}

.main-navigation li:focus {
	background-color:#1d2739;
	color: 0.5;
}

/* Шапка страницы каталог*/

.breadcrumbs li {
 display: inline-block;
 vertical-align: top;
}

.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-catalog h1 {
  padding: 25px;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

/* Блок особенности */

.features {
	padding-bottom: 53px;
  padding-top: 60px;

  color: #fff;
}

.features .item-title {
  padding: 25px 25px;
  padding-bottom: 10px;
	padding-left: 23px;

  font-size: 24px;
  line-height: 30px;
}

.item-features {
	position: relative;
	float: left;
	margin-bottom: 20px;
	width: 300px;

  font-size: 24px;
  line-height: 30px;
	min-height: 124px;
}

.new:before {
	content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  width: 60px;
  height: 60px;

  background: url('../img/flag-new.png') no-repeat 0 0;
}

.btn {
  display: block;
  padding: 12px 50px;

  font-size: 14px;
	line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
}

.features .btn-features {
	width: 135px;
	padding: 10px 0;
	margin-left: 25px;
}

.features-one {
	float: left;
	width: 620px;
}

.features-two {
	float: right;
	width: 300px;
}

.features-one .item-features:first-child {
	margin-right: 20px;
}

.features-two .item-features:last-child {
	margin-bottom: 0;
}

.materials {
	background: #f6b22d url(../img/material.png) no-repeat 213px 32px;
}

.materials a {
	background-color: #dda028;
}

.tools {
  background: #4aafde url(../img/instruments.png) no-repeat 197px 34px;
}

.tools a {
	background-color: #429dc7;
}

.technics {
  background: #cc79d1 url(../img/tech.png) no-repeat 189px 32px;
}

.technics a {
	background-color: #b76dbc;
}

.delivery {
  background: #85d179 url(../img/delivery.png) no-repeat 189px 33px;
}

.delivery a {
	background-color: #77bc6d;
}

.sale{
  background: #f6b22d url(../img/sale.png) no-repeat 196px 27px;
}

.sale a {
	background-color: #dda028;
}

/* Слайдер */

/*.feature-slider {
	position: relative;
	float: left;

	width: 620px;
	min-height: 266px;
}

.slide-content {
	position: absolute;
	top: 0;
	left: 0;
}

.slide-title {
	font-size: 36px;
	line-height: 30px;
}

.slide-text {
	position: absolute;

	width: 100%;
	min-height: 220px;
	top: 0;
	left: 0;

	padding-top: 25px;
	padding-left: 25px;
}

.slide-p {
	padding-top: 5px;

	font-size: 18px;
	line-height: 24px;
}

.slide .btn {
  display: block;
  width: 195px;
  margin-top: 126px;
  padding: 12px 50px;


  font-size: 14px;
	line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
}

.feature-slider input[type="radio"] {
  display: none;
}*/


.feature-slider {
	position: relative;
	float: left;

	width: 620px;
	height: 266px;
}

.feature-slider li {
	height: 100%;
}

.feature-slider li:not(.active) {
	display: none;
}

.feature-slider li.active {
  position: relative;
  color: #fff;
}

.slide-img {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.slide-title {
	position: relative;
	z-index: 2;

	padding-top: 25px;
	padding-left: 25px;
}

.slide-item-title {
	font-size: 36px;
	line-height: 30px;

	padding-bottom: 5px;
}

.btn-controllers {
  position: absolute;
	width: 100%;
	height: 40px;
	top: 50%;

	transform: translateY(-50%);
	z-index: 1;
}

.btn-controllers a {
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}

.control-left {
	position: absolute;
	top: 0;
	left: -60;
}

.control-right {
	position: absolute;
	top: 0;
	right: -20;
}

.btn-slider {
	position: relative;
	width: 195px;
	left: 26px;
	bottom: 26px;
	z-index: 2;
	color: #FFF;
	text-decoration: none;
}

/* Блок популярные товары и производители */

/* общее */

.popular-items-title a,
.popular-producers-title a{
	float: right;
	min-width: 252px;
	margin: 25px 25px;
	padding-right: 0;
	padding-left: 0;

}

.popular-items-title,
.popular-producers-title {
  background-color: #f7f3ec;
	margin-bottom: 20px;
}

.popular-items-title h2,
.popular-producers-title h2 {
	float: left;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
}

/* Популярные товары */

.popular-item h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
	margin: 15px 0;
	padding: 0 30px;
}

.popular-item .new:before {
	top: -1px;
	right: -1px;
}

.popular-item {
	position: relative;
	float: left;
	margin-right: 20px;
  margin-bottom: 20px;
	width: 218px;

	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
}

.popular-item:last-child {
	margin-right: 0px;
}

.popular-item figure {
	width: 218px;
	height: 168px;
	margin: 0;
	padding: 0;
}

.popular-item img {
  max-width: 100%;
}

.popular-item .prev-price {
  min-height: 20px;
  margin-bottom: 15px;
  text-decoration: line-through;
  color: #999;
}

.popular-item .current-price {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 35px;
  color: #fff;
  border-radius: 3px;
  background: #ee3643;
}

.popular-item .current-price:after {
	content: '';
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid #fff;
  border-left-color: #ee3643;
}

/* Популярные производители */

.popular-producers {
	padding-bottom: 65px;
}

.popular-producers ul {
  margin: 0;
  padding: 0;
	list-style: none;
}

.popular-producers-list li {
	float: left;
	width: 218px;
	height: 143px;
	margin-right: 20px;
  margin-bottom: 20px;

  background-color: #FFFFFF;
	border: 1px solid #ccc;
	text-align: center;
}

.popular-producers-list img {
	padding-top: 40px;
}

.popular-producers-list li:nth-child(4n) {
	margin-right: 0;
}

/* Блок сервисы - слайдер */

.services {
  background-color: #f2f6f8;
}

.services p {
	font-size: 13px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	line-height: 24px;
}

.services a {
	display: block;
	width: 217px;
	padding: 25px 0;
	padding-left: 23px;

	background-color: #32425c;
	box-shadow:
	 	inset 0 1px #293449,
		inset 0 -1px #405069;
	color: #fff;
	text-decoration: none;
}

.service-title {
	width: 320px;
	margin-bottom: 40px;
}

.service-title h2 {
  padding-top: 55px;
  padding-bottom: 20px;

	line-height: 24px;
}

.services-slider ul {
	list-style: none;
	z-index: 1;
}

.services-list {
	position: relative;
	padding: 25px 0;
}

.services-list ul:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/shadow-services.png) no-repeat;
	z-index: 2;
	width: 10px;
	height: 100%;
}

.services h3 {
	padding-bottom: 30px;
	padding-top: 25px;

	font-size: 36px;
	line-height: 24px;

	color: #32425c;
	text-transform: uppercase;
}

.services-list {
	float: left;
	margin-right: 60px;
	width: 240px;
}

.services-list .active a{
	background-color: #fff;
	color: #32425c;
	box-shadow: none;
}

.services-text {
	display: none;
	width: 620px;
	float: left;
}

.services-slides {
	padding-bottom: 77px;
}

.services-delivery {
	display: block;
}

.services-text p {
	width: 301px;
}

.services-delivery {
  background: url(../img/delivery-services.png) no-repeat 100% 0;
	min-height: 261px;
}

.services-guarantee {
  background: url(../img/guarantee-services.png) no-repeat 100% 0;
	min-height: 283px;
}

.services-credit {
  background: url(../img/credit-services.png) no-repeat 100% 0;
	min-height: 285px;
}


/* Блок о компании*/

.index-info {
  padding-bottom: 75px;
	padding-top: 70px;
}

.index-info h2 {
  padding-bottom: 20px;
}

.index-info-company ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.index-info-company {
	float: left;
	width: 540px;
	margin-right: 20px;
}

.info-map {
	float: left;
	width: 300px;
}

/* Боковой филтер блока каталог */

fieldset {
  border: 0;
}

.catalog-filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-scroll-grey {
  position: relative;
  width: 170px;
  height: 2px;
  background-color: #d7dcde;
  margin: 30px 15px;
}

.filter-scroll-green {
  width: 120px;
  height: 2px;
  background-color: #00ca74;
}

.filter-scroll-grey::after,
.filter-scroll-grey::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
	background-color: #b7b7b7;
}

.filter-scroll-grey::before {
  right: 30px;
}

.filter-input {
  display: inline-block;
  width: 96px;
}

/* Блок каталог */

.catalog-items {
  float: left;
  width: 700px;
}

.catalog-items-filter li {
  display: inline-block;
  vertical-align: top;
}

.catalog-items-filter ul {
  float: right;
}

.filter-title {
  float: left;
}

/* Каталог товаров */

.catalog-items-set {
  margin-bottom: 52px;
}

.catalog-items-set article {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalog-items-set article:nth-child(3n+3) {
  margin-right: 0;
}

.catalog-item-btn {
  padding-top: 43px;
  padding-bottom: 43px;
}

.item-btn {
  display: table;
}

.popular-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.actions .buy,
.actions .bookmark {
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.popular-item .actions {
  display: none;
}

.popular-item:hover .actions {
  display: block;
}

/* Пагинация каталога товаров*/

.pagination {
  margin-bottom: 60px;
}

.pagination li {
  display: inline-block;
}

/* Дополнительный блок под каталогом*/

.sub-catalog {
  background-color: #f2f6f8;
}

.sub-catalog h2 {
  padding-top: 60px;
  padding-bottom: 25px;
}

.sub-catalog p {
  padding-bottom: 63px;
}

/* Подвал сайта */

.main-footer {
  color: #fff;
}

.main-footer a {
  text-decoration: none;
  color: #fff;
}

.footer-top,
.footer-middle {
  background-color: #32425c;
}

.footer-top li {
	display: inline-block;
	vertical-align: top;
	padding-top: 35px;
}

.footer-address {
  float: left;
}

.footer-middle {
	padding-top: 25px;
}

.footer-middle li {
  display: inline-block;
	vertical-align: top;
}

.footer-menu {
  float: right;
}

.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #293449;
}

.footer-copyright {
  float: left;
  width: 230px;
  margin-right: 150px;
}

.footer-social {
  float: left;
}

.footer-feedback {
  float: right;
  width: 140px;
}

.footer-developers {
  float: right;
  width: 140px;
  margin-left: 20px;
}
